@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: SweiMarkerSansCJKtc-Regular;
  src: url(https://cdn.jsdelivr.net/gh/max32002/swei-marker-sans@2.0/WebFont/CJK%20TC/SweiMarkerSansCJKtc-Regular.woff2)
      format("woff2"),
    url(https://cdn.jsdelivr.net/gh/max32002/swei-marker-sans@2.0/WebFont/CJK%20TC/SweiMarkerSansCJKtc-Regular.woff)
      format("woff");
}
* {
  font-family: SweiMarkerSansCJKtc-Regular;
}

body {
  @apply bg-amber-100 bg-opacity-50;
}

.infoPage {
  background-image: url("./assets/images/info.JPG");
  @apply bg-no-repeat bg-center bg-blend-multiply bg-neutral-900/50
        h-[90vh]
        overflow-y-scroll;
}

.active {
  @apply text-stone-100 text-opacity-95 underline underline-offset-4;
}

.fade-anim img {
  animation: fadeAnim 0.5s ease-in;
}

@keyframes fadeAnim {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
